@media screen and (max-width :1000px){
#mission-id{
    height: 350px;
}

}
@media screen and (max-width :849px){
    #mission-id{
        height: 390px;
    }
    
    }
    @media screen and (max-width :750px){
        #mission-id{
            height: 430px;
        }
        
        }
        @media screen and (max-width :710px){
            #opportunity-id{
                height: 330px;
                width: 32%;
            }
            
            }
        @media screen and (max-width :668px){
            #mission-id{
                height: 430px;
                width: 35%;
            }
            
            }
            @media screen and (max-width :653px){
                #opportunity-id{
                    height: 160px;
                    width: 70%;
                    justify-content: center;
                }
                .opportunity-column{
                    flex-direction: column;
                    align-items: center;
                }
                #opportunity-id h5{text-align: center;}
                
                }
            @media screen and (max-width :641px){
                #mission-id{
                    height: 200px;
                    width: 100%;
                    margin-right: auto;
                    margin-left: auto;
                    margin-top: 20px;
                }
                .Our-Mission .mission-row1 {
                    flex-direction: column;
                    
                  }
                  .Our-Mission .mission-row2 {
                    flex-direction: column;
                    
                  }
                
                }
                @media screen and (max-width :560px){
                    #mission-id{
                        height: 250px;
                        
                    }
                    #opportunity-id{
                        height: 180px;
                        width: 75%;
                        justify-content: center;
                    }
                    
                    }
                    @media screen and (max-width :560px){
                        #opportunity-id{
                            height: 200px;
                            width: 77%;
                            
                        }
                        
                        }
                    @media screen and (max-width :385px){
                        #mission-id{
                            height: 300px;
                            
                        }
                        #opportunity-id{
                            height: 230px;
                            width: 85%;
                            
                        }
                        
                        }
                        @media screen and (max-width :300px){
                            #mission-id{
                                height: 330px;
                                
                            }
                            #opportunity-id{
                                height: 260px;
                                width: 86%;
                                
                            }
                            
                            }
                            @media screen and (max-width :280px){
                                #mission-id{
                                    height: 360px;
                                    
                                }
                                #opportunity-id{
                                    height: 290px;
                                    width: 86%;
                                    
                                }
                                
                                }
                                @media screen and (max-width :250px){
                                    #mission-id{
                                        height: 400px;
                                        
                                    }
                                    #opportunity-id{
                                        height: 290px;
                                        width: 91%;
                                        
                                    }
                                    
                                    }
                                    @media screen and (max-width :235px){
                                        #mission-id{
                                            height: 450px;
                                            
                                        }
                                        
                                        }
                                        @media screen and (max-width :892px){
                                            .our-team-top {
                                                width: 80%;
                                            }}
                                            @media screen and (max-width :848px){
                                            
                                                .our-team-about-us{
                                                    width: 500px;
                                                }
                                                .our-team-image{
                                                    width: 140px;
                                                    height: 140px;
                                                }
                                                .our-team-top {
                                                    width: 100%;
                                                }
                                            }
                                            @media screen and (max-width :715px){
                                                .our-team-about-us{
                                                    width: 400px;
                                                }
                                                .centerd {
                                                    font-size: 35px;
                                                }
                                            }
                                            @media screen and (max-width :615px){
                                                .our-team-about-us{
                                                    width: 350px;
                                                }
                                            }
                                            @media screen and (max-width :565px){
                                                .our-team-about-us{
                                                    width: 350px;
                                                }
                                                .our-team-content{
                                                    flex-direction: column;
                                                }
                                                .centerd {
                                                    font-size: 31px;
                                                }
                                            }
                                            @media screen and (max-width :425px){
                                                .our-team-about-us{
                                                    width: 300px;
                                                }
                                                .our-team-contact {
                                                    margin: 10px 10px 0px 10px;
                                                }
                                                .centerd {
                                                    font-size: 23px;
                                                    color: black;
                                                }
                                            }
                                            @media screen and (max-width :335px){
                                                .our-team-about-us{
                                                    width: 300px;
                                                }
                                                .our-team-contact {
                                                    margin: 10px 10px 0px 0px;
                                                }
                                            }
                                            @media screen and (max-width :320px){
                                                .our-team-about-us{
                                                    width: 250px;
                                                }
                                                .centerd {
                                                    font-size: 20px;
                                                    
                                                }}
                                                @media screen and (max-width :270px){
                                                    .our-team-about-us{
                                                        width: 220px;
                                                    }
                                                    .centerd {
                                                        font-size: 16px;
                                                        
                                                    }}